ul
{
  margin:0;
  padding: 0;
  padding-left: 3ex;
  list-style-type: none;
  }
li
{
  border: 1px solid #778;
  border-bottom: none;
  display: inline;
  width: 15ex;
  margin: 0;
  padding: 2px;
  padding-bottom: 0;
  cursor: pointer;
  font-weight: bold;
  color: #555;
  background: #DDE; 
}
li.not_selected:hover 
{ 
  color: #000;
  background: #AAE;
  border-color: #227;
  }
.selected 
{
  background-color: #fff;
  border-bottom: 1px solid #fff;
  }
.selected:hover 
{ 
  color: #000;
  background: white;
  border-bottom: 1px solid white;
  }
.tab 
{ 
  padding:5px;
  border:1px solid black;
  }
table
{
  margin: auto; 
  background: white; 
  border-collapse: collapse;
  font-size: 90%; 
  }
tbody th
{
  text-align: left; 
  }
caption
{
  font-size: 120%; 
  padding-bottom: 0.5ex;
  }
thead th
{
  background: #ccc; 
  }
td, th
{
  border: 1px solid black; 
  padding: 1px
}
#features td
{ 
  text-align: right;
  }
.notest 
{ 
  background: white;
  color: white;
  }
.gotest 
{ 
  background: green;
  color: white;
  }